* {
  box-sizing: border-box;
}

.body {
  background: rgb(201,174,238);
  background: radial-gradient(circle, rgba(201,174,238,1) 0%, rgba(148,221,233,1) 100%);
}


.grid-container {
    display: grid;
    grid-template-areas: 
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3";
    gap: 20px;
    padding: 2%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.048);
  text-align: center;
  padding: 20px 0;
  border: 1px solid white;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Playwrite US Trad";
  font-weight: 300;
  background: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(60px);
  /* fallback for old browsers */
  -webkit-backdrop-filter: blur(60px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

.grid-container > div:hover {
  box-shadow: 0 0 10px #c966c9;
  transform: translateY(-10px);
}

.page-header {
  margin: auto;
  width: auto;
  border-radius: 10px;
  font-size: x-large;
  
}

.header-text {
  position: relative;
  margin-left: 25vw;
  text-align: left;
  font-family: "Playwrite US Trad", cursive;
  font-weight: 400;
  font-weight: bolder;
  color: #ff00ff;
  opacity: .25;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: black;
  
}

.grid-container2 {
  display: grid;
  width: 100%;
  grid-template-areas:
    "top top top top"
    "middle middle middle middle"
    "bottom bottom bottom bottom";
  border-radius: 10px;
  color: aliceblue;
  text-align: center;
  font-family: "The Girl Next Door", cursive;
  font-weight: 400;
  font-style: normal;
}

.grid-container2 > .top {
  grid-area: top;
}

.grid-container2 > .middle {
  grid-area: middle;
}

.grid-container2 > .bottom {
  grid-area: bottom;
}

.section2 {
  width: 100%;
}

.grid-auto-fit {
  --grid-auto-fit-min-column-size: 150px;
  display: grid;
  place-items: center;
  gap: .5rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-auto-fit-min-column-size), 100%), 1fr));
  width: 100vw;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
  display: block;
}

img:hover {
  box-shadow: 1px 1px 10px 10px  rgb(173, 112, 201, .4);
  transition: box-shadow 0.3s ease;
  transform: scale(1.5) translate(-10%);
}

br {
    border-bottom:1px solid rgba(198, 129, 230, 0.438);
    content: "";
    display: block;
}

.item1, .item2, .item3 {
  text-overflow: ellipsis;
}

.bi {
  color:#c966c9;
}

.bubble-container {
  position: absolute;
  top: 10px; /* Position close to the top */
  left: 10px; /* Position close to the left side */
  display: flex;
  flex-direction: column;
  gap: 18px; /* Space between the bubbles */
}

.bubble {
  width: 50px;
  height: 50px;
  background-color: rgba(199, 140, 226, 0.705);
  border-radius: 50%;
}

.large-bubble {
  width: 45px;
  height: 45px;
}

.medium-bubble {
  width: 30px;
  height: 30px;
}

.small-bubble {
  width: 10px;
  height: 10px;
}

.bubble-container2 {
  position: absolute;
  top: 10px; /* Position close to the top */
  right: 10px; /* Position close to the left side */
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  gap: 18px; /* Space between the bubbles */
}

.bubble2 {
  background-color: rgba(199, 140, 226, 0.705);
  border-radius: 50%;
}

.large-bubble2 {
  width: 45px;
  height: 45px;
}

.medium-bubble2 {
  width: 30px;
  height: 30px;
}

.small-bubble2 {
  width: 10px;
  height: 10px;
}
