.body {
  background: rgb(201,174,238);
  background: radial-gradient(circle, rgba(201,174,238,1) 0%, rgba(148,221,233,1) 100%);
}


.grid-container {
    display: grid;
    grid-template-areas: 
      "item1 item1 item1"
      "item2 item2 item3"
      "item3 item3 item3";
    gap: 20px;
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(98,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 2%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.048);
  text-align: center;
  padding: 20px 0;
  border: 1px solid white;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Playwrite US Trad", cursive;
  font-weight: 400;
}

.grid-container > div:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255);
  opacity: .5;
}

.page-header {
  margin: auto;
  width: auto;
  border: 1px solid white ;
  border-radius: 10px;
  padding: 10px;
  background-color: linear-gradient(90deg, rgba(0,212,255,1) 100%, rgba(98,9,121,1) 35%, black);
}

.header-text {
  text-align: left;
  font-family: "Playwrite US Trad", cursive;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.grid-container2 {
  display: grid;
  width: 100%;
  grid-template-areas:
    "top top top top"
    "middle middle middle middle"
    "bottom bottom bottom bottom";
  border-radius: 10px;
  color: aliceblue;
  text-align: center;
}

.grid-container2 > .top {
  grid-area: top;
}

.grid-container2 > .middle {
  grid-area: middle;
}

.grid-container2 > .bottom {
  grid-area: bottom;
}

.section2 {
  width: 100%;
}

.grid-auto-fit {
  --grid-auto-fit-min-column-size: 200px;
  display: grid;
  place-items: center;
  gap: 3rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-auto-fit-min-column-size), 100%), 1fr));
  background-color: white;
  width: 100vw;
  
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img:hover {
  box-shadow: 1px 1px 10px 10px  rgb(138, 112, 201);
  transition: box-shadow 0.3s ease;
}
